* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #d0ebff;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

/* This container is used all over the pages */
.container {
  max-width: 80%;
  margin: 20rem auto;
  border: 0.1rem solid black;
  padding: 3.4rem;
  border-radius: 2rem;
  box-shadow: 4px 6px 6px rgb(90, 31, 31);
}

.primary-heading {
  font-size: 4.8rem;
  padding: 2.4rem;
  background-color: #fff;
  margin-bottom: 2.4rem;
}

.game-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 3.4rem 0;
}

.game-cta {
  margin-bottom: 2.4rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  border-radius: 9px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
  margin-right: 4.4rem;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

/* Resposnive container  */
@media screen and (max-width: 680px) {
  .primary-heading {
    font-size: 3.2rem;
  }

  .game-cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .btn {
    width: 100%;
  }
}

/* Questions Page Styling */

.game h2 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.quiz-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4.8rem;
}

.info-prefix {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.heading-info {
  font-size: 2.4rem;
  padding: 2.4rem;
  background-color: #74c0fc;
  border-radius: 1.2rem;
  color: #fff;
}
.option-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid #74c0fc;
  background-color: #fff;
}

.option-container:hover {
  cursor: pointer;
  box-shadow: 0 0 0 3px #74c0fc;
  transition: all 0.3s;
}

.option-prefix {
  padding: 1.2rem 2.4rem;
  background-color: #74c0fc;
  color: #fff;
}

.option-text {
  padding: 1.6rem;
  width: 100%;
  text-align: left;
}

.answer-text {
  font-size: 2rem;
  width: 100%;
  margin: 3.4rem 0;
  background-color: #74c0fc;
  padding: 1.2rem 2.4rem;
}

/* End HTML page styling */
.final-message {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.score-text {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}
form {
  margin-bottom: 4.8rem;
}

#username {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
}

#saveScores {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  cursor: pointer;
}

.confirm-message {
  font-size: 1.8rem;
  margin-top: 2.4rem;
}

/* High score html page styling */
.heading-highScore {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.scoreList {
  list-style: none;
  font-size: 1.8rem;
  width: 100%;
  margin-bottom: 4.8rem;
}

.scoreList li {
  padding: 0.9rem 1.8rem;
  background: #74c0fc;
  margin-bottom: 1.2rem;
  text-align: left;
}

.scoreList li:hover {
  font-weight: 700;
}
